<div class="container">
    <h2>Bienvenido Admin.</h2>

    <!-- Contenedor flex para centrar y ajustar el tamaño de los botones -->
    <div class="d-flex flex-column align-items-center">
        <!-- Botones de Bootstrap con clases para tamaño igual -->
     <!--    <button class="btn btn-secondary " routerLink="/AdminWebPage/AdminWeb/VisualizarRaciones">Visualizar raciones</button>-->
        <button class="btn btn-secondary mx-2" routerLink="/AdminWebPage/AdminWeb/AsignarRaciones">Asignar raciones</button>
        <button class="btn btn-secondary mx-2"  routerLink="/AdminWebPage/AdminWeb/EditarRaciones">Editar raciones</button>
        <button class="btn btn-secondary mx-2"  routerLink="/AdminWebPage/AdminWeb/ConsultarReservas">Consulta de reservas</button>
         <!--  <button class="btn btn-secondary mx-2" routerLink="/AdminWebPage/AdminWeb/RegistrarReserva">Registrar reserva</button>-->
        <button class="btn btn-secondary mx-2" routerLink="/AdminWebPage/AdminWeb/EditarMenu">Editar Menú</button>
        <button class="btn btn-secondary mx-2" (click)="logout()">Salir</button>
    </div>
</div>