header {
    background-image: url('img/309125108_406038941683299_7478113829939420417_n-transformed.png');
    height:250px;
    zoom: -110%;
    margin-top: 10px;
    margin-bottom: 10px;
    background-size:cover;
    background-position: center;
    
}